* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  width: 60vh;
  height: 100%;
  flex-direction: column;
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

.button {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.581);
  -webkit-user-select: none; /* For Safari */
  user-select: none;
  transition: transform 0.2s, opacity 0.2s;
}

.button:hover {
  transform: scale(1.05);
  /* opacity: .9; */
}

@media (max-width: 600px) {
  main {
    width: 100vw;
  }
  .button {
    height: 80px;
    width: auto;
  }
}
